<navbar></navbar>
<h1 class="d-flex justify-content-center m-5 text-primary">Products</h1>
<div class="mb-5">
  <div class="d-flex mb-5">
    <a id="addButton" class="p-3 w-50 text-center text-primary" routerLink="/products/add" href="">Add Product</a>
    <a id="filterButton" class="p-3 w-50 text-center text-primary"  routerLink="/products/filter" href="">Filter Product</a>
  </div>
  <router-outlet ></router-outlet>
</div>
<div class="container-fluid p-5">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col">Number</th>
      <th scope="col">Creation Time</th>
      <th scope="col">Update Time</th>
      <th scope="col"></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      <td>{{product.number}}</td>
      <td>{{product.createdAt}}</td>
      <td>{{product.updatedAt}}</td>
      <td class="d-flex"><a class="btn btn-primary" routerLink="/products/update/{{product.id}}">Update</a>
       <form>
        <button type="submit" class="btn btn-danger ms-3" (click)="delete(product.id)">Delete</button>
      </form>
      </td>
    </tr>
  </table>

</div>
