<navbar></navbar>
<h1 class="d-flex justify-content-center m-5 text-primary">Products</h1>
<div class="mb-5">
  <div class="d-flex mb-5">
    <a id="addButton" class="p-3 w-50 text-center text-primary" routerLink="/products/add" href="">Add Product</a>
    <a id="filterButton" class="p-3 w-50 text-center text-primary"  routerLink="/products/filter" href="">Filter Product</a>
  </div>
  <router-outlet ></router-outlet>
</div>
<div class="container-fluid p-5">
  <table class="table table-bordered">
    <thead> 
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Product</th>
      <th scope="col">Category</th>
      <th scope="col">Number</th>
      <th scope="col">Creation Time</th>
      <th scope="col">Update Time</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
  </table>
  
</div>
