<navbar></navbar>
<h1 class="d-flex justify-content-center m-5 text-primary">Categories</h1>
<div class="container-fluid p-5">
    <div>
        <form class="d-flex justify-content-end align-items-end">
          <div class="m-3">
            <label for="productName" class="form-label">Category Name</label>
            <input type="text" class="form-control" id="productName" >
          </div>
          <button id="submitButton" type="submit" class="btn btn-primary m-3">Submit</button>
        </form>
    </div>

    <table class="table table-bordered">
      <thead> 
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Category</th>
        <th scope="col">Creation Time</th>
        <th scope="col">Update Time</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
    </table>
    
  </div>