<form class="d-flex justify-content-center align-items-end">
    <div class="m-3">
      <label for="productName" class="form-label">Name</label>
      <input #name name="name" type="text" class="form-control" id="productName" >
    </div>
    <div class="m-3">
      <label for="categoryName" class="form-label">Category</label>
      <select #category name="category" class="form-select form-control" id="categoryName">
        <option selected>Open this select menu</option>
        <option *ngFor="let category of categories" value="{{category.id}}">{{category.name}}</option>
      </select>
    </div>
    <div class="m-3">
      <label for="number" class="form-label">Amount</label>
      <input #number type="number" name="number" class="form-control" id="number" >
    </div>

    <button id="submitButton" (click)="addProduct(name.value,category.value,number.value)" type="submit" class="btn btn-primary m-3">Add</button>
  </form>
